<%- include('partials/_header.ejs') %>
<%- include('partials/_navbar.ejs') %>
<div class="container-fluid">
	<div class="row align-items-md-stretch">
		<div class="col-md-12 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 text-white bg-dark rounded-3">
				<h2><%= head %></h2>
				<p class="text-muted m-0">Content By : <%= contentBy %></p>
				<p class="text-muted m-0">Spoken By : <%= spokenBy %></p>
				<video class="pt-4 video"controls>
					<source src="<%= vidLink %>" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				<h2>Script And Points</h2>
				<div class="accordion" id="accordionExample">
					<% scripts.forEach(scriptData => { %>
						<div class="accordion-item bg-dark">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button btn-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= scriptData.scriptId %>" aria-expanded="false" aria-controls="<%= scriptData.scriptId %>">
									<%= scriptData.scriptHead %>
								</button>
							</h2>
							<div id="<%= scriptData.scriptId %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<%= scriptData.scriptBody %>									
								</div>
							</div>
						</div>
					<% }) %>
				</div>
				<button class="btn btn-outline-light mt-4" onclick="location.href='/main-video'">Check Out The Complete Video</button>
			</div>
		</div>
	</div>
</div>
<%- include('partials/_footer.ejs') %>